$ColorPrimary: #CFD8DC;
$ColorSecondary: #A5D6A7;
$ColorRed: #ef9a9a;
$ColorGreen: #81C784;
$ColorBlack: #212121;
$ColorGray: #9E9E9E;
$ColorDarkGray: #757575;
$ColorLightGray: #EEEEEE;
$ColorWhite: #FAFAFA;
$ColorDarken: rgba(0,0,0,0.1);

$NavHeight: 60px;
$IndicatorHeight: 2px;
$LightShadow: 0px 10px 20px -15px rgba(0,0,0,0.65);
$Rounded: 4px;
$FontTiny: 10px;
$FontThicc: 20px;
$NavFontSize: 14px;
$BannerHeight: 500px;
